[Desktop Entry]
Version=1.0
Name=Getting Started Guide
Type=Application
Exec=/usr/bin/see /usr/share/doc/labvcnc/LabvCNC_Getting_Started.pdf
Icon=labvcncicon
X-GNOME-DocPath=
Terminal=false
Comment=Information on how to download and install LabvCNC
StartupNotify=false
Categories=X-CNC;
Keywords=cnc;labvcnc;
