[Desktop Entry]
Version=1.0
Name=French HAL Manual
Type=Application
Exec=/usr/bin/see /usr/share/doc/labvcnc/LabvCNC_HAL_User_Manual_fr.pdf
Icon=labvcncicon
X-GNOME-DocPath=
Terminal=false
Comment=Details about the Hardware Abstract Layer.
StartupNotify=false
Categories=X-CNC;
Keywords=cnc;labvcnc;
